<aside class="avatar-column" id="avatarColumn">
  <img src="/images/avatars/70s.webp" alt="70s" class="avatar-frame" />
  <img src="/images/avatars/bicycling.webp" alt="Bicycling" class="avatar-frame" />
  <img src="/images/avatars/captain jon.webp" alt="Captain Jon" class="avatar-frame" />
  <img src="/images/avatars/dancin.webp" alt="Dancin" class="avatar-frame" />
  <img src="/images/avatars/fighter pilot.webp" alt="Fighter Pilot" class="avatar-frame" />
  <img src="/images/avatars/headshot.webp" alt="Headshot" class="avatar-frame" />
  <img src="/images/avatars/holidays.webp" alt="Holidays" class="avatar-frame" />
  <img src="/images/avatars/hoytis.webp" alt="Hoytis" class="avatar-frame" />
  <img src="/images/avatars/IMG_6275.webp" alt="IMG 6275" class="avatar-frame" />
  <img src="/images/avatars/jon_montana_big_other.webp" alt="Jon Montana" class="avatar-frame" />
  <img src="/images/avatars/jonmagic_africa.webp" alt="Africa" class="avatar-frame" />
  <img src="/images/avatars/JonMagic_square.webp" alt="Jon Square" class="avatar-frame" />
  <img src="/images/avatars/jonmagic-2023-01-18.webp" alt="Jon 2023" class="avatar-frame" />
  <img src="/images/avatars/jonmagic-flower.webp" alt="Flower" class="avatar-frame" />
  <img src="/images/avatars/jonmagic-muppet.webp" alt="Muppet" class="avatar-frame" />
  <img src="/images/avatars/jonmagic-santa.webp" alt="Santa" class="avatar-frame" />
  <img src="/images/avatars/jonmagic-tiger-small.webp" alt="Tiger" class="avatar-frame" />
  <img src="/images/avatars/speaking.webp" alt="Speaking" class="avatar-frame" />
</aside>
