<nav class="site-nav">
  <section class="nav">
    <ul>
      {%- if page.url != '/' -%}
      <li><a href="/">Home</a></li>
      {%- endif -%}
      <li><a href="/posts/">Posts</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </section>
  <section class="links">
    <a href="https://github.com/jonmagic" title="GitHub Profile">
      <img src="/images/github.png" alt="GitHub Profile" width="24" height="24" class="github-icon">
    </a>
    <a href="https://linkedin.com/in/jonmagic" title="LinkedIn Profile">
      <img src="/images/linkedin.png" alt="LinkedIn Profile" width="24" height="24" class="linkedin-icon">
    </a>
    <a href="/feed.xml" title="RSS Feed">
      <img src="/images/rss.png" alt="RSS Feed" width="24" height="24" class="rss-icon">
    </a>
  </section>
</nav>
