---
layout: layout
title: jonmagic.com
---

<div>
  <main>
    {# Featured posts list #}
    <section>
      <h2>Featured Posts</h2>
      {% set featured = collections.posts | featured %}
      {% if featured and featured.length > 0 %}
        <ul class="featured-list">
          {% for post in featured %}
            <li>
              <div>
                <div>
                  <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
                  <p>{{ post.data.description }}</p>
                </div>
              </div>
            </li>
          {% endfor %}
          <li>
            <h3><a href="/posts/">View All Posts</a></h3>
          </li>
        </ul>
      {% else %}
        <p>No featured posts yet.</p>
      {% endif %}
    </section>
  </main>
</div>
